# Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual y configuración
.env
venv/
.venv/
env/
.env.local

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
# Java / Maven
target/
*.class

# Node
node_modules/